<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sitp.tjvideo.mapper.VideoMapper" >
    <resultMap id="BaseResultMap" type="com.sitp.tjvideo.entity.Video" >
        <id column="video_id" property="videoId"/>
        <result column="user_id" property="userId"/>
        <result column="url" property="url"/>
        <result column="thumbs_num" property="thumbsNum"/>
    </resultMap>
    <sql id="Base_Column_List" >
        video_id as videoId, user_id as userId, url, thumbs_num as thumbsNum
    </sql>
</mapper>